/*************************
*** Styles de l'entête ***
*************************/

header {
  background-color: #456;
  padding: 10px 25px;
	overflow-x: hidden;
}

header>h1 {
  margin: 0 -20px;
  font-weight: 300;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header>h1>* {
	display: flex;
  margin: 0 20px;
}

header>h1>a, header>h1>a:visited {
  color: white;
  text-decoration: none;
}

header>h1>.small {
	font-size: 80%;
	line-height: 2.05em;
}

h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
}


/*****************************
*** Styles du pied de page ***
*****************************/
html {height:100%;}

main {
	margin-bottom: -100px; /*Faire de la place pour le footer*/
	height:100%;
	position: relative;
}

footer {
	position: absolute;
  right: 0;
  /*bottom: 0;*/
  left: 0;
	text-align: right;
}

footer img {
	height: 70px;
	margin: 15px 25px;
}



/**********************************
*** Styles du corps du document ***
**********************************/

main {
  color: #234;
  padding: 20px 20px 100px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

a, a:visited {
  color: #369;
}

p {
	margin-top: 0.75em;
}

.list {
  display: block;
  padding-left: 20px;
}

#imageContainer {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls>* {
	padding: 0 5px;
}


.controls>.equals {
	flex: 1 1 10em;
}

#imageContainer.aspectRation2-1 {
  padding-bottom: 50%;
}

#imageContainer.aspectRation3-1 {
  padding-bottom: 33%;
}

#imageContainer.aspectRation3-2 {
  padding-bottom: 66.67%;
}

#imageContainer.aspectRation4-1 {
  padding-bottom: 25%;
}

@media (min-aspect-ratio: 2/1) {

	#imageContainer.aspectRation2-1 {
    width: 80%;
  }

  #imageContainer.aspectRation2-1 + .controls {
    width: 17%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-aspect-ratio: 3/2) {
  #imageContainer.aspectRation3-2 {
    width: 80%;
  }

	#imageContainer.aspectRation3-2 + .controls {
    width: 17%;
    flex-direction: column;
    justify-content: flex-start;
  }
}


@media (min-aspect-ratio: 3/1) {
  #imageContainer.aspectRation3-1 {
    width: 80%;
  }

  .controls {
    width: 17%;
    flex-direction: column;
    justify-content: flex-start;
  }
}


#imageContainer>div {
  background-color: #abc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#imageContainer>.dark {
	background-color: #678;
}

#imageContainer>.dark .backgroundFill {
	fill: #678;
}

/****************************
*** Styles de formulaires ***
****************************/
input:not([type="checkbox"]):not([type="radio"]):not([type="range"]), select {
  width: 100%;
  height: 4.8rem;
  padding: 1rem;
  font-size: 1.25em;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid #999;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="submit"]), select:not([type="submit"]) {
  background-color: white;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).large, select.large {
  height: 7.2rem;
}

/*input[type="checkbox"], input[type="radio"] {
  height: 1.35em;
  width: 1.35em;
  position: relative;
  top: 0.2em;
}*/
.switch,
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  vertical-align: bottom;
  outline: 0;
  cursor: pointer;
  border: 1px solid #444;
  border-radius: 2.5rem;
  background: #fff;
}

.switch ~ label,
input[type="checkbox"] ~ label,
input[type="radio"] ~ label {
  cursor: pointer;
}

.switch::-ms-check,
input[type="checkbox"]::-ms-check,
input[type="radio"]::-ms-check {
  display: none;
}

.switch[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  opacity: 0.3;
  filter: grayscale(60%);
}

.switch[disabled] + label,
input[type="checkbox"][disabled] + label,
input[type="radio"][disabled] + label {
  opacity: 0.3;
}

input[type="checkbox"].switch {
  width: 3.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 100%;
  box-shadow: inset -1.25rem 0 0 #999;
  transition: box-shadow .15s;
}

input[type="checkbox"].switch:checked {
  box-shadow: inset 1.25rem 0 0 #4AD133;
}

input[type="checkbox"]:not(.switch) {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  transition: background-color .15s;
}

input[type="checkbox"]:not(.switch):checked {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0068D3;
}

input[type="radio"] {
  width: 2.5rem;
  height: 2.5rem;
  transition: box-shadow .15s;
  box-shadow: inset 0 0 0 0.75rem transparent;
}

input[type="radio"]:checked {
  box-shadow: inset 0 0 0 0.75rem #0068D3;
  /*background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%2240%22%20height%3D%2240%22%0AviewBox%3D%220%200%2080%2080%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%2240%22%20cy%3D%2240%22%20r%3D%2224%22%20style%3D%22fill%3A%23ffffff%22/%3E%3C/svg%3E);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $primary-color;*/
}

.inlineInput {
  display: flex;
}

.inlineInput input, .inlineInput select {
  flex: 1 1 auto;
}

.inlineInput *:not(input):not(select) {
  margin: 1rem 2rem 1rem 2rem;
  word-wrap: normal;
  flex: 0 0 auto;
  font-size: 1em;
}

.inlineInput *:not(input):not(select):first-child {
  margin-left: 0;
}

.inlineInput *:not(input):not(select):last-child {
  margin-right: 0;
}

.inlineInput *:not(input):not(select).accent, .inlineInput *:not(input):not(select).secondary {
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;
  height: 4.8rem;
  border: 1px solid #999;
}

.inlineInput *:not(input):not(select).accent:first-child, .inlineInput *:not(input):not(select).secondary:first-child {
  border-right: none;
}

.inlineInput *:not(input):not(select).accent:last-child, .inlineInput *:not(input):not(select).secondary:last-child {
  border-left: none;
}

.inlineInput *:not(input):not(select).accent {
  background-color: #0068D3;
  color: white;
}

.inlineInput *:not(input):not(select).secondary {
  background-color: #e6e6e6;
}

fieldset {
  border: 1px solid #444;
}



/*******************
***    SLIDER    ***
*******************/


[type='range'] {
  -webkit-appearance: none;
  margin: 13px 0;
  width: 100%;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-webkit-slider-runnable-track {
  background: #d9d9d9;
}

[type='range']:focus::-ms-fill-lower {
  background: #CCC;
}

[type='range']:focus::-ms-fill-upper {
  background: #d9d9d9;
}

[type='range']::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: #CCC;
  border: 1px solid #444;
  border-radius: 5px;
}

[type='range']::-webkit-slider-thumb {
  background: #FFF;
  border: 1px solid #444;
  box-shadow: inset 0 0 0 0.75rem #0068D3;
  border-radius: 24px;
  cursor: pointer;
  height: 26px;
  width: 26px;
  -webkit-appearance: none;
  margin-top: -10px;
}

[type='range']::-moz-range-track {
  cursor: pointer;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: #CCC;
  border: 1px solid #444;
  border-radius: 5px;
}

[type='range']::-moz-range-thumb {
  background: #FFF;
  border: 1px solid #444;
  box-shadow: inset 0 0 0 0.75rem #0068D3;
  border-radius: 24px;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

[type='range']::-ms-track {
  cursor: pointer;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 13px 0;
  color: transparent;
}

[type='range']::-ms-fill-lower {
  background: #bfbfbf;
  border: 1px solid #444;
  border-radius: 10px;
}

[type='range']::-ms-fill-upper {
  background: #CCC;
  border: 1px solid #444;
  border-radius: 10px;
}

[type='range']::-ms-thumb {
  background: #FFF;
  border: 1px solid #444;
  box-shadow: inset 0 0 0 0.75rem #0068D3;
  border-radius: 24px;
  cursor: pointer;
  height: 26px;
  width: 26px;
  margin-top: 0;
}
